
.nav > li > bdi > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  &:hover, &:focus {
    text-decoration: none;
    background-color: #eee;
  }
}

h1 {
  width: 78%;
}

#dw__toc {
  background-color: $main-color !important;
  margin: 0.5em 0 0.5em 0.5em !important;
  strong {
    margin-left: -1.2em;
  }
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 0.8em;
    margin-top: 1em;
    border-bottom: 1px solid;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    span {
      padding-right: 0.5em;
    }
  }
  .level1 {
    .li:hover {
      background-color: #fff;
      a {
        color: $main-color;
        text-decoration: none;
      }
    }
    a {
      font-size: 0.8em;
      padding: 0.2em;
      color: #fff;
    }
    > .li > a:before {
      font-size: 9px;
      top: 0;
      margin-left: -0.2em;
      padding-right: 0.2em;
      @extend .glyphicon, .glyphicon-minus;
    }
  }
}

.pageId {
  float: right;
  margin: -1.5em -1.5em;
  padding: 0.4em;
  font-size: 0.8em;
  border-bottom: 1px solid;
  border-color: $main-color;
  background-color: #fff;
}

.doc {
  margin: -0.9em -1.5em;
  padding: 0.4em;
  font-size: 0.8em;
  border-top: 1px solid;
  border-color: $main-color;
}

form.search {
  @extend .navbar-right;
  @extend .navbar-form;
  input {
    @extend .form-control;
    @extend .form-control:focus;
    border-color: $main-color;
  }
  button {
    width: 0;
    background: none;
    border: none;
    color: transparent;
    text-indent: -40px;
    visibility: hidden;
    &:before {
      color: #000;
      visibility: visible;
    }
    @extend .glyphicon, .glyphicon-search;
  }
}

#dokuwiki__sitetools {
  ul {
    margin-left: 1.1em;
  }
  li {
    border: 1px solid #ddd;
    background-color: #fff;
    margin-left: 1em;
  }
}

#dokuwiki__pagetools ul li a.export_pdf:before {
  content: "";
}

#dokuwiki__pagetools:hover ul li a.export_pdf, #dokuwiki__pagetools ul li a.export_pdf:focus, #dokuwiki__pagetools ul li a.export_pdf:active {
   background-image: none;
}

.page {
  margin-bottom: 2em;
}

.secedit {
  float: right;
  .no button {
    font-size: 0.7em;
    @extend .btn, .btn-default;
    border-radius: 0;
  }
}

.no button {
  @extend .btn, .btn-default;
  border-radius: 0;
}

.section_highlight {
  border-left: 1px solid;
  border-color: $main-color;
  padding-left: 0.3em;
}
